
.upper-row-top-part{
    display: flex;
    justify-content: space-between;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 0px;
}
h2{
    margin-left: 100px;
    font-size: 25px;
}
.upper-row-top-part ul{
    list-style-type: none;
    display: flex;
    margin-right: 200px;
    font-weight: 200;
}
ul{
    gap:20px;
    
}
.text-part h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 35px;
}
img{
    max-width: 600px;
    max-height: 500px;
    margin-left: 250px;
}
.text-part{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
}
.text-box-top-part{
    display: flex;
}
.image-box-top-part{
    max-width: 20px;
    max-height: 10px;
}
.top-part{
    background-color: rgb(41, 50, 61);
    padding-bottom: 160px;
    color: bisque;
}
.text-box-image-box-top-part{
    color:aliceblue;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
#Get-One-Button{
    background-color: rgb(134, 187, 239);
    border-radius: 4px;
    border: none;
    border-color: rgb(134, 187, 239);
    font-size: 20px;
    margin-left: 100px;
    padding: 15px;
    color: rgb(41, 50, 61);
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.middle-part h1{
    margin-top:50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
}
.middle-part-image-container{
    margin-top: 90px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
}
.middle-part-image-and-textbox img{
    max-width: 400px;
    max-height: 300px;
    border-radius: 10px;
}
.middle-part-image-and-textbox p{
    margin-left: 175px;
    text-align: center;
}
#Heimdall-Image{
    margin-right: 200px;
}
#Thor-Image{
    margin-left: 350px;
}
#Odin-Review, #Thor-Review, #Heimdall-Review{
    font-size: 20px;
    font-weight: 550;
}
.Thor-review-middle p{
    margin-left: 300px;
}
.Heimdall-review-middle p{
    margin-right: 140px;
}
.quote-part{
    background-color: rgb(212, 210, 210);
}
.quote-part h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.quote-part-actual-quote{
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.quote-part-actual-quote pre{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Gorr-Text{
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -50px;
    margin-left: 700px;
}